.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  z-index: 100;
}


.container {
  border-radius: 8px;
  padding: 2px;
}

.container__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  border-radius: 8px;
  border: 2px solid #FFFF;
}


.container__box__message {
  font-family: "Poppins", sans;
  font-size: 14px;
  font-weight: 500;
  color: #FFFF;
}