.form__btn {
  width: fit-contentF;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Poppins", sans;
  background-color: #FFD4C5;
  padding: 12px 28px;
  border-radius: 4px;

}

.form__btn__enabled {
  width: fit-content;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Poppins", sans;
  background-color: #FF6F3F;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 28px;

}