
.stack {
  position: sticky;
  top:96px;
}

.container {
  max-width: 240px;
  display:flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  border: 1.5px solid #EFEFEF;
  border-left: none;
  padding: 12px 8px;
  border-radius: 4px;
}


.container__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;

}


.container__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container__profile__info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: center;
}

.container__profile__box {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.container__profile__box__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.container__profile__info__name {
  font-family: "Poppins", sans;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #9C9C9C;
}

.box__item__divider {
  width: 95%;
  background-color: #EFEFEF;
  height: 1.5px;
}


.container__box__categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;

}

.container__box__categories__title {
  font-family: "Poppins", sans;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  color: #9C9C9C;

}

.container__box__categories__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 12px;

}

.container__box__categories__box__category {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 4px;

}




.container__box__categories__box__category__img {
  display: block;
  width: 30px;
  height: 30px;
}

.container__box__categories__box__category__name {
  font-family: "Poppins", sans;
  font-size: 14px;
  font-weight: 600;
  color: #9C9C9C;

}

.isActive {
  border: 1px solid #FF6F3F;
  border-radius: 4px;
  background-color: #FFD4C5;


}