.box {
  font-family: "Poppins", sans;
  color: #2f3567;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #E5E4E2;
  border-radius: 4px;
  padding: 4px;
  width:32%;
  background: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 50%, #f0f0f0 100%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite linear;
  -webkit-appearance: none; /* Webkit browsers */
  -moz-appearance: none; /* Firefox */
  appearance: none;
  /* animation: scale 4s infinite; */
}


.box__option {
  font-family: "Poppins", sans;
  color: #2f3567;
  font-size: 14px;
  line-height: 1.5;
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}