.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box__table {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #EFEFEF;
  overflow: hidden;

}

.box__modelTable {
  width: 100%;
  border-collapse: collapse;
}

.box__modelTable__head {
  font-family: "Poppins", sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  background-color: #FF6F3F;
  color: #FFFFFF;
 
}

.box__modelTable__head__row__cell {
  padding: 8px;
}


.box__modelTable__body__row__data {

  font-family: "Poppins", sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  background-color: #FFFFFF;
  color: #2F3567;
  padding: 8px 0;
  text-align: center;

}


.box__modelTable__body__row__data__empty {
  font-family: "Poppins", sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background-color: #FFFFFF;
  color: #2F3567;
  padding: 8px 0;
  text-align: center;

}