* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  text-decoration: none;
  padding: 0;
  outline: none;
}

button {
  background-color: transparent;
}




body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hide-scroll {
  overflow: hidden;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
